*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    min-height: 100vh;
}

.main{
    width: 100%;
    max-width: 1015px;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    margin: 40px 0px;
}
header .menu-icon{
    display: none;
    position: absolute;
}
header .logo{
    width: 200px;
}
header .logo img{
    width: 100%;
}
header .ham{
    width: 40px;
    height: 6px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 4px;
}

nav{
    flex: 1;
}
nav ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
nav li{
    margin: 0px 10px;
}
nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
nav a:hover{
    color: rgb(194, 194, 194);
}

.container{
    display: flex;
    padding-top: 25px;
}

.content-area{
    flex: 1;
    margin-right: 15px;
}
.content-area h1{
    font-size: 40px;
    margin-top: 80px;
}

/* .content-area p{
    width: 80%;
} */

.content-area .cta{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.cta .button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #29be56;
    color: white;
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 3px #333;
}
.cta .button:hover{
    background-color: #1fc952;
}

.cta .button-blue{
    background-color: #3498db;
}
.cta .button-blue:hover{
    background-color: #019aff;
}

.phone-area .phone1{
    height: 500px;
    width: auto;
    position: relative;
    z-index: 2;
    top: 10px;
}

.phone-area .phone2{
    height: 500px;
    width: auto;
    position: relative;
    margin-left: -125px;
    z-index: 1;
}

@media (max-width: 975px) {

    .container{
        flex-direction: column;
        padding-top: 0;
    }

    header{
        padding: 0 20px;
    }

    .content-area{
        text-align: center;
    }
    .content-area h1{
        margin-top: 0;
    }
    .content-area p{
        margin: 0px 40px;
    }

    .content-area .cta{
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .phone-area{
        margin-top: 50px;
        text-align: center;
    }
    .phone-area .phone1{
        top: 0;
        margin: 0px 10px;
        height: 550px;
    }
    .phone-area .phone2{
        margin-left: 0;
        margin: 0px 10px;
        height: 550px;
    }

}

@media (max-width:650px){
    
    header .menu-icon{
        display: block;
        margin-left: 15px;
    }

    .container{
        flex-direction: column;
        padding-top: 0;
    }
    
    nav{
        display: none;
    }
    header .logo{
        width: 100%;
        text-align: center;
        
    }
    header .logo img{
        width: 200px;
    }

    .content-area h1{
        font-size: 32px;
    }

    .cta{
        flex-direction: column;
        align-items: center;
    }

    .phone-area{
        margin-bottom: 30px;
    }
    .phone-area .phone1{
        top: 10px;
        height: 450px;
    }

    .phone-area .phone2{
        height: 450px;
        margin-left: -150px;
    }

}

