.bolinha{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    position: absolute;
}
.fixa{
    position: absolute !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(56, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 15px;
    width: 800px;
    height: 50px;
    background-color: black;
    font-size: 16px;
    border-radius: 20px 20px 0px 0px;
}

.geral{
    display: flex;
    flex-direction: column;
}

.instructions{
    width: 800px;
    height: 150px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid white;
    border-radius: 0px 0px 20px 20px;
}

.instructions ol li{
    margin: 10px 0px;
}

.information{
    background-color: rgb(185, 44, 44);
    width: 800px;
    height: 40px;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.information__balls{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
}
.information__points{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
}

.game-body{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display{
    width: 800px;
    height: 500px;
    background-color: rgb(20, 20, 20);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pause{
    width: 800px;
    height: 500px;
    background-image: url(images/pause.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.loser{
    width: 800px;
    height: 500px;
    background-image: url(images/game-over.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.winner{
    width: 800px;
    height: 500px;
    background-image: url(images/winner.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.controls{
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls__difficulty{
    width: 75px;
    height: 75px;
    color: white;
}

.controls__difficulty__name{
    font-size: 18px;
    line-height: 25px;
}

.controls__button{
    display: block;
    background-color: rgb(66, 66, 66);
    width: 150px;
    height: 50px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.controls__button:hover{
    cursor: pointer;
    background-color: rgb(20, 20, 20);
}

.controls__button--green{
    border: 1px solid green;
    box-shadow: 0px 0px 5px green !important;
}
.controls__button--red{
    border: 1px solid red;
    box-shadow: 0px 0px 5px red !important;
}
.controls__button--blue{
    border: 1px solid blue;
    box-shadow: 0px 0px 5px blue !important;
}
.none{
    display: none;
}